body{
  margin: 0;
  
  background: #121212;
}


.tabuleiro_jogo{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.fundo_tabuleiro_jogo{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button_game{
  width: 175px;
  height: 175px;
  border-radius: 20px;
  margin: 5px;
  background: #282828;
  display: flex;
  font-size: 80px;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}
#x{
  color: #12B4FF
}
#o{
  color: #FF125E
}

.configuracao_do_jogo{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  
}
.fundo_configuracao_do_jogo{
  width: 800px;
  height: fit-content;
  background: #282828;
  padding: 30px;
}

.fundo_vez_do_jogador{
  justify-content: center;
  display: flex;
}
.vez_do_jogador{
  transition: 300ms;
  width: 600px;
  background: #12B4FF;
  border-radius: 0 0 40px 40px;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  color: #FFFFFF;
}
.texto_vez_do_jogador{
  margin: 8px 0 8px 0;
  font-size: 80px;
}


.fundo_pontuacao{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.pontuacao{
  display: flex;
  font-size: 0px;
  font-family: sans-serif;
  background: #353535;
  width: fit-content;
  
  justify-content: center;
  align-items: center;
  border-radius: 20px 70px 20px 70px;
  transition: 500ms;
}
.pontuacao{
  
  color: #12B4FF
}


.fundo_button_iniciar_jogo{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button_iniciar_jogo{
  background: #353535;
  border-radius: 60px;
  font-size: 60px;
  border: none;
  padding: 20px 40px 20px 40px;
  font-family: sans-serif;
  font-weight: 300;
  color: #9B9B9B;
  transition: 500ms;
  outline: none;
}

.button_iniciar_jogo_1{
  background: #353535;
  border-radius: 60px;
  font-size: 0px;
  border: none;
  padding: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: 300;
  color: #9B9B9B;
  transition: 500ms;
  outline: none;
}

